body{
  background-color: red!important;
}


.tamaño{
  width: 20%;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.carousel-inner{
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.pictures{
  font-size: 0px;
}
.pictures .item{
  position:relative;
  display:inline-block;
}
.pictures .item img{
  position:relative;
  z-index: 11;
}
