@media  screen and (max-width: 768px){

  .about, .productosGeneral, .productosDetalles, .galeria, .contacto{
    margin-top: 25%;
  }

/*   NAVBAR */
  .redes{
    margin-left: 0 !important;
  }
  
.redes .d-flex{
margin-bottom: 0 !important;
margin-left: -12%;
}

  .logoNav{
    width: 60%; 
    margin-top: 3%;
    margin-left: 3%;
  }
  
  .border-none{
    border: none !important;
    margin-left: 12% !important;
  }
  

  #fh5co-work2{
    padding-top: 0% !important;
  }
 
  .home h1 {
    font-size: medium !important
  }
  
  .home h2 {
    font-size: small !important
  }
  .home h3 {
    font-size: x-large !important
  }
  .home p {
    font-size: small !important
  }

  .linHeder{
    margin-left: 0% !important;
    padding-left: 0%  !important;
  }

  #fh5co-work{
   display: none;
  }

  #fh5co-work2{
    margin-top: 20%;
  }


/* TARJETAS PRODUCTOS INDEX */

.div-img .text{
  position: absolute;
  width: 70%;
  font-size: medium;

}

.div-img .img {
width: 22%;
margin-top: 1%;

}

.div-img {
  margin-left: 35%;
} 

.div-img .overlay {
  position: absolute;
  height: 250%;
  margin-bottom: 30%;
 
}
.btn-card{
  font-size: xx-small !important;
}

.card-title{
/*   margin-bottom: 0 !important; */
  margin-left: -25% !important;
}

.card-bg {
  width: 80% !important;
height: 20% !important;
  margin-left: -5% !important;  
} 

.btn-card{
  margin-top: -5%;
z-index: 100;
font-size: x-small !important;
}

.margin-bottom{
  margin-bottom: 30%;
}



.card{
  width: 80% !important;
  margin-left: 10% !important;
  height: 60% !important;
}


.headerT{
  margin-top:10%
}


/* ABOUT */

.circle-bg:after {
  bottom: 0px;
  top: 2%;
  right:-35px !important;
}

.circle-bg:after {
  width: 205px;
  height: 205px;
}

.logoAbout {
  width: 70% !important;
margin-left: 10% !important;
}

.textAbout{
  margin-bottom: 10%;
}


/* PRODUCTO GENERAL */

 .filtros{
  width: 200px !important;
  column-count: 2 !important;
margin-left: 38%;
  } 

.labelFiltros{
  font-size: small;
}


/* PRODUCTO DETALLE */

.carousel-inner{
  margin-top: -15% !important;
margin-left: 55% !important;
margin-bottom: 15% !important;
}

#desProd{
  text-align: justify;
}

#contNetoProd{
  margin-top: -10%;
  margin-left: 40%;
}

.versiones, #ingreProd{
  margin-top: -3% !important;
}

/* CONTACTO */
.btnEnviar{
  margin-bottom: 20% !important;
  }
  


/* FOOTER */

footer{
  font-size: x-small;
}

}

@media (min-width: 768px) and (max-width: 992px) {


.home h3{
  font-size: x-large !important;
}

  .about, .productosGeneral, .productosDetalles, .galeria, .contacto{
    margin-top: 20%;
  }

  #fh5co-work{
    display: block;
   }

   .logoNav{
    width: 35%;
  }

.redes{
  margin-left: 0 !important;
}

  .redes .d-flex{
    margin-bottom: 0 !important;
    margin-left: -5%;
    }

    .border-none{
      border: none !important;
      margin-left: 6% !important;
    }
    

    .fhHeader-bg-section{
      margin-top: 10%;
      height: 400px !important;
    }

.linHeder{
  margin-top: -5%;
  margin-left: 10% !important;
}

    .logoHeader{
    width: 60%;
    margin-left: 15%;
    }


    .frase1{
      margin-top: 5%;
      font-size: 28px !important;
    }
    .frase2{
     font-size: 26px !important;
   }


/* TARJETAS INDEX */

#fh5co-work2{
  margin-top: -30%;
}

.card{
  width: 110% !important;
  height: 50px;
}

.div-img{
margin-left: 3% !important;
padding: 1%;
height: 40px;

}


.card-title{
  margin-bottom:0 !important;
}

.tituloCard{
width: 130%;
margin-top: -6%;
text-align: center;
}

.div-img .text{
  position: absolute;
  margin-top: 5%;
  width: 60%;
  font-size: medium;

}

.div-img .img {
width: 50%;
margin-top: 10%;
}



.div-img .overlay {
  position: absolute;
  height: 600%;
  margin-bottom: 35%;
 
}

.btn-card{
  margin-top: -5%;
z-index: 100;
font-size: x-small !important;
}

.margin-bottom{
  margin-bottom: 25%;
}


.div-img:hover .img {
  transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  -moz-transform: translate(60px, 0px);
  -webkit-transform: translate(60px, 0px);
  -o-transform: translate(60px, 0px);
}


/* CUADRO PRODUCTOS GENERAL */

.filtros{
  margin-top: -5%;
  margin-left: 25%;
}

#cuadroProductos, #imgGaleria{
  margin-bottom: 15% !important;
}


#imgGaleria{
margin-top: -5% !important;
}
}


@media screen and (min-width: 992px) and (max-width: 1019px){
/*  NAVBAR  */

.home h3{
font-size: x-large !important;
}

.espacioLogo{
  width: 10% !important;
}
 
.logoNav{
  width: 90%;
}

.navbar-nav{
  margin-left: 15%;
}

.redes{
  margin-left: 15% !important;
}

.fhHeader-bg-section{
margin-top: 75px;
  height: 200px !important;
}    

.linHeder{
  margin-top: -5%;
  margin-left: 8% !important;
}

.frase1{
  margin-top: 5%;
  font-size: 38px !important;
}

.frase2{
  font-size: 35px !important;
}

.logoHeader{
  width: 70%;
}


.card-body{
  height: 60px !important;
}

.tituloCard{
  text-align: center !important;
}



.div-img:hover .img {
  transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  -moz-transform: translate(60px, 0px);
  -webkit-transform: translate(60px, 0px);
  -o-transform: translate(60px, 0px);
}


/* ABOUT */

#about, .contact{
  margin-top: 15%;
}


.filtros{
  margin-left: 28%;
}


/* CUADRO PRODUCTOS GENERAL */

#cuadroProductos{
  margin-bottom: 10% !important;
}

}


@media (min-width: 1020px) and (max-width: 1200px) {
 
/*  NAVBAR */

.espacioLogo{
  width: 15% !important;
}
 
.logoNav{
  width: 60%;
}

.navbar-nav{
  margin-left: 12%;
}

.redes{
  margin-left: 15% !important;
}

.fhHeader-bg-section{
  height: 200px !important;
}

#fh5co-work{
  padding-top: 0 !important;
}

/* HEADER */

.linHeder{
  margin-left: 10% !important;
  margin-top: 9%;
}

.logoHeader{
  width: 50%;
}

 .frase1{
   margin-top: 7%;
   font-size: 35px !important;
 }
 .frase2{
  font-size: 30px !important;
}



/* TARJETAS INDEX */

.home h3{
  font-size: 25px !important;
}

.seccProductos{
  margin-top: -5%;
}

.card{
  width: 100% !important;
}

.div-img{
  height: 5%;
}

.card-body{
  padding: 0.8rem !important;
}

.card-title{
  margin-bottom: 0 !important;
}



.tituloCard{
  width: 130%;
  margin-top: 2%;
  text-align: center;
  }
  
  .div-img .text{
    position: absolute;
    margin-top: 5%;
    width: 65%;
    font-size: 20px;
  
  }
  

.div-img:hover .img {
  transform: translate(70px, 0px);
  -ms-transform: translate(70px, 0px);
  -moz-transform: translate(70px, 0px);
  -webkit-transform: translate(70px, 0px);
  -o-transform: translate(70px, 0px);
}

/* ABOUT */

.logoAbout{
  margin-top: 5%;
}

.textAbout{
  margin-bottom: 5% !important;
}

/* CUADRO PRODUCTOS GENERAL */

#cuadroProductos, #imgGaleria{
  margin-bottom: 10% !important;
}

.filtros{
  margin-left: 33%;
}

.contact{
  margin-top: 15% !important;
  margin-bottom: 15% !important
}

}

@media (min-width: 1200px) and (max-width:1400px) {
 
  /*  NAVBAR */
  
  .espacioLogo{
    width: 15% !important;
  }
   
  .logoNav{
    width: 60%;
  }
  
  .navbar-nav{
    margin-left: 15%;
  }
  
  .redes{
    margin-left: 20% !important;
  }
  
  .fhHeader-bg-section{
    height: 250px !important;
  }
  
  
  
  /* HEADER */
  
  .linHeder{
    margin-top: 8% !important;
  }
  
  .logoHeader{
    width: 60% !important;
  }
  
   .frase1{
     font-size: 45px !important;
   }
   .frase2{
    font-size: 40px !important;
  }
  
  
  
  /* TARJETAS INDEX */
  
  .home h3{
    font-size: 30px !important;
  }
  
  .seccProductos{
    margin-top: -5%;
  }
  
  .card{
    width: 100% !important;
  }
  
  .div-img{
    height: 5%;
  }
  
  .card-body{
    padding: 0.8rem !important;
  }
  
  .card-title{
    margin-bottom: 0 !important;
  }
  
  
  
  .tituloCard{
    width: 130%;
    margin-top: 2%;
    text-align: center;
    }
    
    .div-img .text{
      position: absolute;
      margin-top: 5%;
      width: 65%;
      font-size: 20px;
    
    }
    
  
  .div-img:hover .img {
    transform: translate(85px, 0px);
    -ms-transform: translate(85px, 0px);
    -moz-transform: translate(85px, 0px);
    -webkit-transform: translate(85px, 0px);
    -o-transform: translate(85px, 0px);
  }
  
  /* ABOUT */
  


  .textAbout{
    margin-bottom: 10% !important;
  }
  
  /* CUADRO PRODUCTOS GENERAL */
  
  #cuadroProductos, #imgGaleria{
    margin-bottom: 10% !important;
  }
  
  .filtros{
    margin-left: 35%;
  }
  
  .contact{
    margin-bottom: 15% !important
  }
  
  }

  @media (min-width: 1920px)  {
 
    /*  NAVBAR */
    
    .espacioLogo{
      width: 15% !important;
    }
     
    .logoNav{
      width: 40%;
    }
    
    .navbar-nav{
      margin-left: 20%;
    }
    
    .redes{
      margin-left: 35% !important;
    }
    
    .fhHeader-bg-section{
      height: 250px !important;
    }
    
    
    
    /* HEADER */
    
#fh5co-work{
  margin-top: 5%;
}

    .linHeder{
      margin-top: -1% !important;
    }
    
    .logoHeader{
      width: 60% !important;
    }
    
     .frase1{
       font-size: 50px !important;
     }
     .frase2{
      font-size: 50px !important;
    }
    
    
    
    /* TARJETAS INDEX */
    
    .home h3{
      font-size: 30px !important;
    }
    
    .seccProductos{
      margin-top: 5%;
    }
    
    .card{
      width: 100% !important;
    }
    
    .div-img{
      height: 5%;
    }

    .div-img .img{
      width: 50%;
      margin-left:7%;
    }
    
    .card-body{
      padding: 0.8rem !important;
    }
    
    .card-title{
      margin-bottom: 0 !important;
    }
    
    
    
    .tituloCard{
      width: 130%;
      margin-top: 2%;
      text-align: center;
      }
      
      .div-img .text{
        position: absolute;
        margin-top: 5%;
        width: 65%;
        font-size: 20px;
      
      }
      
    
    .div-img:hover .img {
      transform: translate(90px, 0px);
      -ms-transform: translate(90px, 0px);
      -moz-transform: translate(90px, 0px);
      -webkit-transform: translate(90px, 0px);
      -o-transform: translate(90px, 0px);
    }
    
    /* ABOUT */
    
  
  
    .textAbout{
      margin-bottom: 10% !important;
    }
    
    /* CUADRO PRODUCTOS GENERAL */
    
    #cuadroProductos, #imgGaleria{
      margin-bottom: 10% !important;
    }
    
    .filtros{
      margin-left: 39%;
    }
    

    #filtrosGaleria{
      margin-left: -25% !important;
    }
    .contact{
      margin-bottom: 15% !important
    }
    
    }