@media screen and (max-width: 480px) {

}


@media  screen and (max-width: 768px){

  .about, .productosGeneral, .productosDetalles, .galeria, .contacto{
    margin-top: 25%;
  }

/*   NAVBAR */
  .redes{
    margin-left: 0 !important;
  }
  
.redes .d-flex{
margin-bottom: 0 !important;
margin-left: -12%;
}

  .logoNav{
    width: 60%; 
    margin-top: 3%;
    margin-left: 3%;
  }
  
  .border-none{
    border: none !important;
    margin-left: 12% !important;
  }
  

  #fh5co-work2{
    padding-top: 0% !important;
  }
 
  .home h1 {
    font-size: medium !important
  }
  
  .home h2 {
    font-size: small !important
  }
  .home h3 {
    font-size: small !important
  }
  .home p {
    font-size: small !important
  }

  .linHeder{
    margin-left: 0% !important;
    padding-left: 0%  !important;
  }

  #fh5co-work{
   display: none;
  }

  #fh5co-work2{
    margin-top: 20%;
  }


/* TARJETAS PRODUCTOS INDEX */

.div-img .text{
  position: absolute;
  margin-top: 5%;
  width: 70%;
  font-size: medium;

}

.div-img .img {
width: 20%;
margin-top: 8%;

}

.div-img {
  margin-left: 35%;
} 


.div-img .overlay {
  position: absolute;
  height: 250%;
  margin-bottom: 35%;
 
}
.btn-card{
  font-size: xx-small !important;
}

.card-title{
  margin-bottom: 0 !important;
  margin-left: -25% !important;
}

.card-bg {
  width: 80% !important;
height: 20% !important;
  margin-left: -5% !important;  
} 

.btn-card{
  margin-top: -5%;
z-index: 100;
font-size: x-small !important;
}

.margin-bottom{
  margin-bottom: 25%;
}



.card{
  width: 70% !important;
  margin-left: 15% !important;
}


.headerT{
  margin-top:10%
}


/* ABOUT */

.circle-bg:after {
  bottom: 0px;
  top: 2%;
  right:-35px !important;
}

.circle-bg:after {
  width: 205px;
  height: 205px;
}

.logoAbout {
  width: 70% !important;
margin-left: 10% !important;
}

.textAbout{
  margin-bottom: 10%;
}


/* PRODUCTO GENERAL */

 .filtros{
  width: 200px !important;
  column-count: 2 !important;
margin-left: 40%;
  } 

.labelFiltros{
  font-size: medium;
}


/* GALERIA */

/* CONTACTO */
.btnEnviar{
  margin-bottom: 20% !important;
  }
  


/* FOOTER */

footer{
  font-size: x-small;
}

}

@media (min-width: 768px) and (max-width: 992px) {

  .about, .productosGeneral, .productosDetalles, .galeria, .contacto{
    margin-top: 20%;
  }

  #fh5co-work{
    display: block;
   }

   .logoNav{
    width: 35%;
  }

.redes{
  margin-left: 0 !important;
}

  .redes .d-flex{
    margin-bottom: 0 !important;
    margin-left: -5%;
    }

    .border-none{
      border: none !important;
      margin-left: 6% !important;
    }
    

    .fhHeader-bg-section{
      margin-top: 10%;
      height: 400px !important;
    }

.linHeder{
  margin-top: 7%;
}

    .logoHeader{
    width: 60%;
    }


    .frase1{
      font-size: 20px !important;
    }
    .frase2{
     font-size: 16px !important;
   }


/* TARJETAS INDEX */

#fh5co-work2{
  margin-top: -7%;
}


.card{
  width: 110% !important;
}

.div-img{
margin-left: 3% !important;
padding: 1%;
height: 50px;

}


.card-title{
  margin-bottom:0 !important;
  font-size: small !important;
}

.tituloCard{
width: 130%;
}

.div-img .text{
  position: absolute;
  margin-top: 5%;
  width: 65%;
  font-size: medium;

}

.div-img .img {
width: 50%;
margin-top: 10%;
}



.div-img .overlay {
  position: absolute;
  height: 300%;
  margin-bottom: 35%;
 
}

.btn-card{
  margin-top: -5%;
z-index: 100;
font-size: x-small !important;
}

.margin-bottom{
  margin-bottom: 25%;
}

/* CUADRO PRODUCTOS GENERAL */

#cuadroProductos, #imgGaleria{
  margin-bottom: 15% !important;
}
}


@media screen and (min-width: 1200px){
/*  NAVBAR  */

.espacioLogo{
  width: 10% !important;
}
 
.logoNav{
  width: 65%;
}

.navbar-nav{
  margin-left: 20%;
}

.redes{
  margin-left: 25% !important;
}

.fhHeader-bg-section{
margin-top: 95px;
  height: 300px !important;
}      

/* CUADRO PRODUCTOS GENERAL */

#cuadroProductos{
  margin-bottom: 10% !important;
}

}


@media (min-width:993px)and (max-width: 1024px){
 
/*  NAVBAR */

.espacioLogo{
  width: 15% !important;
}
 
.logoNav{
  width: 60%;
}

.navbar-nav{
  margin-left: 15%;
}

.redes{
  margin-left: 10% !important;
}

.fhHeader-bg-section{
  height: 400px !important;
}


.linHeder{

  margin-top: 7%;
}
 .frase1{
   font-size: 20px !important;
 }
 .frase2{
  font-size: 16px !important;
}

#fh5co-work2{
  margin-top: -5% !important;
}






/* TARJETAS INDEX */

.seccProductos{
  margin-top: -5%;
}

.card{
  width: 100% !important;
}

.div-img{
  height: 5%;
}


.card-body{
  padding: 0.8rem !important;
}

.card-title{
  margin-bottom: 0 !important;
}


/* ABOUT */

.textAbout{
  margin-bottom: 5% !important;
}

/* CUADRO PRODUCTOS GENERAL */

#cuadroProductos, #imgGaleria{
  margin-bottom: 10% !important;
}

.contact{
  margin-bottom: 15% !important
}

}
