body {
/*   background: #ECEFF1; */
/* background: red !important; */
  color: rgba(0, 0, 0, 0.87);
  font-family:"Montserrat", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}

.about, .productosGeneral, .productosDetalles, .galeria, .contacto{
  margin-top: 10%;
}

/* NAVBAR */


.navbar{
  position: fixed !important;
}

nav, .dropdown-menu {
  background: #fcf1e3 !important;

}

.nav-link{
  font-family:"Montserrat", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9) 
}


.espacioLogo {
  width: 33.33%;
}



.imgHeader{
  width: 300px !important;
}


.navFont  {
  margin: 0;
  font-size: small;
  padding: 0;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, sans-serif !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 1;
  background: #fcf1e3;
}

.logoNav{
  width: 25%; 
  margin-top: 3%;
  margin-left: 3%;
}



/* HOME */

.testimonios{
  margin-top: 5%;
}

/* ABOUT */
.logoAbout {
  width: 30%;
  left: 30%;
}

.circle-bg {
  position: relative;
}

.circle-bg:after {
  width: 300px;
  height: 300px;
  content: "";
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  right: -90px;
  background: #f8f9fa;
}



/* SECCION CONTACTO */


/* SECCION PRODUCTOS GENERAL */

.titProd{
  color: #000000;
  text-decoration: none;
  }

/* Filtros menú izq*/

.labelFiltros{
  position: relative;
font-weight: initial;
font-size: 18px;
padding: 2px;
}

.labelFiltros:hover{
  font-weight: initial;
  color: #00C4C1;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
} 


/* Escnder el checkbox original */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Crear un diseño propio de checkbox */
.checkmark {
  position: absolute;
  top: 0.3rem;
  left: -10px;
  height: 16px;
  width: 16px;
  background-color: #FFFFFF;
  border: 1px solid #1E1E1E;
}

/* Hover del input */
.container:hover input ~ .checkmark {
  background-color: #00C4C1;
}

/* Fondo del input cuando se selecciona */
.container input:checked ~ .checkmark {
  border: #00C4C1;
  background-color: #00C4C1;
}

/* Creacion del check */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 0.35rem;
  top:0.02rem;
  width: 6px;
  height: 14px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ============ SUBMENU ============ */

.dropdown-submenu {
  position: relative;
  font-size: small !important;
  
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
/*   right: 6px; */
  top: 10px;
  
}

#faciales, #corporales, #capilares{
  font-size: small !important;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown-item {
  font-size: small !important;
}

/* DETALLES PRODUCTOS */

.ingreProd {
  column-count: 2 ;
} 

.img-responsiveA {
  display: block;
  max-width: 100%;
  height: auto;
}


/* CSS  HOME */


.logoHeader {
  width: 40%;
  height: 80%;
}

.headerT{
  margin-top:6%
}


.home h1 {
  font-size: x-large !important
}

.home h2 {
  font-size: large !important
}
.home h3 {
  font-size: medium !important
}
.home p {
  font-size: smaller !important
}

.fhHeader-bg-Card{
  background: rgb(247, 211, 195);
  background: -moz-linear-gradient(top, rgb(247, 211, 195) 0%, rgba(252,241,227,1) 35%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,241,227,1)), color-stop(35%, rgba(252,241,227,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,rgb(247, 211, 195) 0%, rgba(252,241,227,1) 35%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,rgb(247, 211, 195) 0%, rgba(252,241,227,1) 35%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgb(247, 211, 195) 0%, rgba(252,241,227,1) 35%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgb(247, 211, 195) 0%, rgba(252,241,227,1) 35%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf1e3', endColorstr='#ffffff', GradientType=0 );
  border: none !important;
}

.tituloCard{
  font-weight: bold !important;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  text-transform: capitalize;
}


footer {
  position: fixed;
/*   left: 0;
  right: 0; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media  screen and (max-width: 768px){


  .about, .productosGeneral, .productosDetalles, .galeria, .contacto{
    margin-top: 25%;
  }


  .imgHeader {
    width: 100%;
    height: auto;
  }

  .logoHeader{
display: none;
  }
  #fh5co-work2{
    padding-top: 0% !important;
  }
 
  .home h1 {
    font-size: medium !important
  }
  
  .home h2 {
    font-size: small !important
  }
  .home h3 {
    font-size: x-small !important
  }
  .home p {
    font-size: xx-small !important
  }

  .linHeder{
    margin-left: 0% !important;
    padding-left: 0%  !important;
  }

  .frasesHeader{
    margin-left: -5px;
  }
.card{
  width: 70% !important;
  margin-left: 15% !important;

  /* display: flexbox !important;
  align-items: center !important;
  justify-items: center !important;
  justify-content: center !important;
  align-content: center !important; */

}

.headerT{
  margin-top:10%
}

footer{
  font-size: xx-small;
}

.logoNav{
  width: 60%; 
  margin-top: 3%;
  margin-left: 3%;
}

.circle-bg:after {
  bottom: 0px;
  top: 4%;
  right:-35px !important;
}

.circle-bg:after {
  width: 180px;
  height: 180px;
}

.logoAbout {
  width: 70% !important;
left: 0 !important;
}

}